In [1]:
#                  Vacation_Search_Module_6_Challenge_Part_2

In [2]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import citipy
import requests
import time
import matplotlib
import gmaps

from datetime import datetime

# Import the API key.
from config import weather_api_key
from config import g_key

gmaps.configure(api_key=g_key)

In [3]:
# Create a DataFrame City Data and do a Panda Read from the WeatherPy_database csv file

city_data_df = pd.read_csv("WeatherPy_database.csv")

In [4]:
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Qaanaaq,100,GL,overcast clouds,2020-06-20 03:18:34,83,77.48,-69.36,34.21,0.00,0.00,2.28
1,1,Albany,72,US,broken clouds,2020-06-20 03:18:06,85,42.60,-73.97,75.99,0.00,0.00,3.11
2,2,Severo-Kurilsk,100,RU,overcast clouds,2020-06-20 03:18:05,90,50.68,156.12,42.33,0.00,0.00,18.52
3,3,Mataura,84,NZ,broken clouds,2020-06-20 03:17:41,80,-46.19,168.86,46.63,0.00,0.00,1.63
4,4,Palu,85,ID,light rain,2020-06-20 03:19:17,61,-0.89,119.87,87.85,0.38,0.38,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,537,Bisalpur,5,IN,clear sky,2020-06-20 03:21:33,56,28.30,79.80,90.16,0.00,0.00,11.52
538,538,Visby,0,SE,clear sky,2020-06-20 03:21:33,93,57.64,18.30,60.01,0.00,0.00,3.36
539,539,Sibolga,100,ID,overcast clouds,2020-06-20 03:21:34,80,1.74,98.78,78.73,0.00,0.00,2.57
540,540,Hurghada,0,EG,clear sky,2020-06-20 03:21:34,36,27.26,33.81,80.60,0.00,0.00,18.34
541,541,Conceicao Do Araguaia,19,BR,few clouds,2020-06-20 03:21:34,78,-8.26,-49.26,75.20,0.00,0.00,1.54

In [5]:
# Check to see the data types of the DataFrame using dtypes() method.

city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Date                    object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)          float64
Wind Speed             float64
dtype: object

In [6]:
# Configure gmaps to use the API KEY

gmaps.configure(api_key=g_key)

In [7]:
# Using the input() method, prompt the customer for Minimum and Maximum Temperature preference

min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?65
What is the maximum temperature you would like for your vacation?80

In [8]:
# Ask if customer wants Rain

rain_amount = input("Do you want it to be raining? (yes/no)")

Do you want it to be raining? (yes/no)no

In [9]:
# Ask if customer wants Snow

snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be snowing? (yes/no)no

In [10]:
# Create filter on the DataFrame for Minimum and Maximum Temperature preferences, and if 
# Rain or Snow accumulation is 0 inches using conditional statements

if rain_amount ==  "no" and snow_amount == "no":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] >= 0.0)]
    
elif rain_amount == "yes" and snow_amount == "no":
    
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0)]
                
filtered_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,Albany,72,US,broken clouds,2020-06-20 03:18:06,85,42.60,-73.97,75.99,0.0,0.0,3.11
7,7,Urumqi,1,CN,clear sky,2020-06-20 03:19:18,25,43.80,87.60,77.00,0.0,0.0,4.47
8,8,Rikitea,100,PF,overcast clouds,2020-06-20 03:17:33,81,-23.12,-134.97,75.38,0.0,0.0,18.25
9,9,Puerto Ayora,68,EC,broken clouds,2020-06-20 03:17:45,93,-0.74,-90.35,70.00,0.0,0.0,1.99
11,11,Santa Leopoldina,75,BR,broken clouds,2020-06-20 03:19:19,100,-20.10,-40.53,70.00,0.0,0.0,2.98
15,15,Saint-Philippe,75,RE,broken clouds,2020-06-20 03:17:55,68,-21.36,55.77,69.80,0.0,0.0,14.99
25,25,Vaini,75,TO,broken clouds,2020-06-20 03:17:52,57,-21.20,-175.20,77.00,0.0,0.0,12.75
30,30,Ulladulla,0,AU,clear sky,2020-06-20 03:19:23,45,-35.35,150.47,68.00,0.0,0.0,4.70
32,32,Carnarvon,0,AU,clear sky,2020-06-20 03:18:30,64,-24.87,113.63,68.00,0.0,0.0,5.82
38,38,Vao,38,NC,scattered clouds,2020-06-20 03:19:25,81,-22.67,167.48,68.83,0.0,0.0,21.14

In [11]:
# Perform a count with count() method

filtered_cities_df.count()

City_ID                169
City                   169
Cloudiness             169
Country                169
Current Description    169
Date                   169
Humidity               169
Lat                    169
Lng                    169
Max Temp               169
Rain (inches)          169
Snow (inches)          169
Wind Speed             169
dtype: int64

In [12]:
# Perform a clean-up and drop NaN

filtered_cities_df = filtered_cities_df.dropna()

filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
1,1,Albany,72,US,broken clouds,2020-06-20 03:18:06,85,42.60,-73.97,75.99,0.0,0.0,3.11
7,7,Urumqi,1,CN,clear sky,2020-06-20 03:19:18,25,43.80,87.60,77.00,0.0,0.0,4.47
8,8,Rikitea,100,PF,overcast clouds,2020-06-20 03:17:33,81,-23.12,-134.97,75.38,0.0,0.0,18.25
9,9,Puerto Ayora,68,EC,broken clouds,2020-06-20 03:17:45,93,-0.74,-90.35,70.00,0.0,0.0,1.99
11,11,Santa Leopoldina,75,BR,broken clouds,2020-06-20 03:19:19,100,-20.10,-40.53,70.00,0.0,0.0,2.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,529,Taonan,64,CN,broken clouds,2020-06-20 03:21:31,53,45.33,122.78,79.92,0.0,0.0,8.88
530,530,Ipora,81,BR,broken clouds,2020-06-20 03:21:32,66,-16.44,-51.12,65.52,0.0,0.0,2.26
531,531,Noumea,75,NC,broken clouds,2020-06-20 03:19:08,73,-22.28,166.46,71.60,0.0,0.0,20.80
539,539,Sibolga,100,ID,overcast clouds,2020-06-20 03:21:34,80,1.74,98.78,78.73,0.0,0.0,2.57
541,541,Conceicao Do Araguaia,19,BR,few clouds,2020-06-20 03:21:34,78,-8.26,-49.26,75.20,0.0,0.0,1.54

In [13]:
# Create a DataFrame variable for Hotel with coloumn data of interest

hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head()

                City Country  Max Temp    Lat     Lng Hotel Name
1             Albany      US     75.99  42.60  -73.97
7             Urumqi      CN     77.00  43.80   87.60
8            Rikitea      PF     75.38 -23.12 -134.97
9       Puerto Ayora      EC     70.00  -0.74  -90.35
11  Santa Leopoldina      BR     70.00 -20.10  -40.53

In [14]:
# Settings form gmaps for parameters


params = {
    "radius" : 5000,
    "type"   : "lodging",
    "key"    : g_key
}

# Use a For loop to iterate through

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel name"] = hotels["results"][0]["name"]
    except IndexError:
            print("Hotel not found.......moving on....skipping..")

Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..
Hotel not found.......moving on....skipping..

In [15]:
# Verify by reading out first five rows of the DataFrame

hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
1,Albany,US,75.99,42.60,-73.97,,NaN
7,Urumqi,CN,77.00,43.80,87.60,,Hua Ling Grand Hotel Urumqi
8,Rikitea,PF,75.38,-23.12,-134.97,,Pension Maro'i
9,Puerto Ayora,EC,70.00,-0.74,-90.35,,Finch Bay Galapagos Hotel
11,Santa Leopoldina,BR,70.00,-20.10,-40.53,,Pousada e padaria central

In [16]:
# Output the hotel_df to a file in csv format

output_data_file = "WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# Now we read the WeatherPy_Vacation.csv and convert to a DataFrame

vacation_df = pd.read_csv("WeatherPy_Vacation.csv")

vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name,Hotel name
0,1,Albany,US,75.99,42.60,-73.97,NaN,NaN
1,7,Urumqi,CN,77.00,43.80,87.60,NaN,Hua Ling Grand Hotel Urumqi
2,8,Rikitea,PF,75.38,-23.12,-134.97,NaN,Pension Maro'i
3,9,Puerto Ayora,EC,70.00,-0.74,-90.35,NaN,Finch Bay Galapagos Hotel
4,11,Santa Leopoldina,BR,70.00,-20.10,-40.53,NaN,Pousada e padaria central

In [19]:
# Use the template to add the hotel marks to the heatmap

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [20]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))